
/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: lightslategray;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    color: black;
    border-bottom: 2px solid darkred;
  }
  
  .topnav a.active {
    color: black;
    border-bottom: 2px solid darkred;
  }

  /* Backgrounds */
  
  .titlebg {
      background-color: white;
      color: black;
      padding-top: 50px;
      padding-bottom: 70px;
      text-align: center;
  }

  .bg1 {
      background-color: white; /* white */
      color: black;
  }

  .bg2 {
      background-color: rgb(240, 240, 240); /* light gray */
      color: black;
  }

  .footer-bg {
      background-color: rgb(48, 48, 48);
      color:white;
  }
  
  .container-fluid {
      padding-top: 35px;
      padding-bottom: 35px;
  }
  .container-footer {
      padding-top: 10px;
      padding-bottom: 5px;
  }
  
  /* Format links */
  
  .inline-link:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  .inline-link:visited {
    color: darkred;
    background-color: transparent;
    text-decoration: none;
  }
  
  .inline-link:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  .inline-link:active {
    color: maroon;
    background-color: transparent;
    text-decoration: underline;
  } 

  /* Style all font awesome icons */
  
  .fa {
    padding: 10px;
    font-size: 50px;
    width: 70px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  /* Instagram */
  .fa-instagram {
    background: #125688;
    color: white;
  }

  /* YouTube */
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  /* Header styles */
  .mainTitle {
     font-family: 'Playfair Display', serif;
     font-size: 36px;
     text-align: center;
  }
  .articleTitle {
     font-family: 'Playfair Display', serif;
     font-size: 24px;
     text-align: center;
     margin-bottom: 48px;
  }
  .sectionTitle {
     font-family: 'Playfair Display', serif;
     font-size: 18px;
     text-align: center;
  }
  .subTitle {
     font-family: 'Playfair Display', serif;
     font-size: 16px;
     text-align: left;
  }
  .quoteTitle {
     font-family: 'Great Vibes', cursive;
     font-size: 26px;
     text-align: inherit;
  }
  
  .quoteSource {
     font-family: 'Great Vibes', cursive;
     font-size: 18px;
     text-align: inherit;
  }

  /* Paragraph styles */
.main-text {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: justify;
}

.footer-text {
  font-size: 10px;
  padding-top: 5px;
}


/* Align objects to center */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 80%;
}

.iframe-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}